.profile {
  width: 400px;
  border-radius: 8px;
  margin: 6px 12px;
  background-color: #232428;
  padding-bottom: 12px;
  position: relative;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 140px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 16px;
}

.thumbnail img {
    width: 100%;
}

.body {
  background-color: #121212;
  max-width: 80%;
  color: white;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
 
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.body h2,
.body h3,
.body p {
  margin: 0;
}

.body h2 {
  margin: 0;
  font-size: 1.4em;
}

.spacer {
  height: 1px;
  width: 90%;
  background-color: white;
  opacity: 0.6;
  margin: 12px auto;
}

.tag-list {
  display: flex;
  gap: 1em;
}

.social-tag {
  background-color: #232428;
  padding: 4px 6px;
  border-radius: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.social-tag div {
  width: 8px;
  height: 8px;
  border-radius: 12px;
}

.avatar {
  width: 72px;
  height: 72px;
  background-color: #232428;
  z-index: 99;
  border-radius: 55%;
  position: absolute;
  padding: 6px;
  transform: translateY(-64px);
  left: 12px;
}

.avatar img {
  width: 100%;
  border-radius: 55%;
}