.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 12px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.btn {
  color: black;
  border: 1px solid black;
  width: 180px;
  align-self: center;
}

.faq {
  background-color: #0000005c;
  display: flex;
  align-content: center;
  gap: 4px;
  border-radius: 8px; 
  max-width: max-content;
  padding: 4px 8px;
  color: #ffffff80;
  font-size: 1.1em;
  cursor: pointer;
  transition: 300ms;
}

.faq:hover {
  background-color: #00000093;
}