/* title section styles */

.title-section {
  text-align: center;
  margin-bottom: 12px;
}

.title-section h3 {
  font-size: 3em;
  font-weight: 400;
  margin: 0;
}

.title-section p {
  font-size: 1.2em;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 24px;
}

.title-section form {
  margin: 6px auto;
  padding: 6px 12px;
  width: 50%;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.title-section input {
  border: none;
  font-size: 1.5em;
  width: 100%;
  outline: none;
  padding: 4px 6px;
}

.search-btn {
  font-size: 1.4em;
  margin: 0;
  background-color: #232428;
}