.component-preview {
  width: 80%;
  border-right: 2px solid #313338;
  border-left: 2px solid #313338;
  margin: 0 auto;
  border-radius: 8px;
  overflow: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #313338;
  padding: 12px 24px;
  overflow: none;
  border-radius: 8px 8px 0 0;
}

.toolbar div {
  display: flex;
  gap: 1em;
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.2em;
  font-weight: 400;
}

.footer {
  background-color: #313338;
  padding: 12px 24px;
  border-radius: 0 0 8px 8px;
  margin-top: 12px;
}

.code-preview {
  max-width: 98%;
  margin: 0 auto;
  max-height: 500px;
  overflow-y: scroll;
  padding:6px 12px;
  border: 1px solid #3133383d;
  margin-top: 12px;
  border-radius: 8px;
}

.metadata {
  text-align: center;
}

.code-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}